/* --------- Reset for RWD --------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* --------- Background styling --------- */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    max-width: min(100% - 2rem, 100rem);
    margin: 2rem auto;
}
