:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
}

h1, h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

/* Homework 1 styling */

#about-me.hw1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hw1 #profile-pic {
    width: 100px;
    height: auto;
    border-radius: 15px;
}

